#component_logisticsInfo {
    padding: 60px
}

#component_logisticsInfo .component_logisticsInfo_title {
    position: relative;
    width: 100%;
    font-size: 24px;
    color: #323233;
    letter-spacing: 0;
    border-bottom: 2px solid #DCDEE0;
    padding-bottom: 18px;
    font-weight: bold;
}

.component_logisticsInfo_title .border {
    position: absolute;
    width: 61px;
    height: 3px;
    background: #0F4C81;
    left: 0;
    bottom: -2px;
}

#component_logisticsInfo_board .dataList {
    width: 100%;
    background: #F5F6FA;
    border: 1px solid #DCDEE0;
    border-radius: 8px;
    min-height: 22px;
    padding-top: 16px;
    margin-top: 10px;
    overflow: auto;
}

#component_logisticsInfo_board .dataList li {
    text-align: left;
    margin-left: 2%;
    margin-bottom: 16px;
    width: 30%;
    float: left;
    font-size: 16px;
    color: #333333;
}

#component_logisticsInfo_board .dataList .memberItem {
    display: block;
    width: 98%;
    overflow: hidden;
    position: relative
}

#component_logisticsInfo_board .dataList .memberItem .btn_delete {
    float: right;
    width: 5.5%;
    height: 90%;
    color: #4091F7;
    background: #FFFFFF;
    text-align: center;
    margin-right: 1%;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #4091F7;
}

#component_logisticsInfo_board .dataList .memberItem input {
    text-align: left;
    /* margin-left: 2%; */
    width: 26%;
    margin-right: 3%;
    float: left;
    font-size: 16px;
    color: #333333;
    border: 1px solid #4091F7;
    border-radius: 4px;
}

#component_logisticsInfo_board .dataList .memberItem input:nth-of-type(1) {
    width: 15%;
    margin-right: 14%;
    text-align: center;
}

#component_logisticsInfo_board .dataList .memberItem .memberState {
    position: absolute;
    top: 0;
    left: 16%;
}

#component_logisticsInfo_board .dataList .memberState.readed {
    color: #00BA9A;
}
#component_logisticsInfo_board .dataList .memberState.unread {
    color: #F56C6C;
}
#component_logisticsInfo_board .dataList .memberState.noneed {
    color: #4091F7;
}

.LogisticsInfo_item {
    margin-top: 20px;
}

.LogisticsInfo_item .btnGroup {
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    margin-top: 10px;
}

.LogisticsInfo_item .btnGroup li {
    float: left;
    margin-right: 20px;
    border: 2px solid #4091F7;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    line-height: 40px;
    cursor: pointer;
}

.LogisticsInfo_item .btnGroup .btn_blue {
    background: #4091F7;
    color: #FFFFFF;
}

.LogisticsInfo_item .btnGroup .btn_white {
    color: #4091F7;
    background: #FFFFFF;
}


.otherExtendBoxItem {
    float: left;
    margin-bottom: 18px;
    margin-left: 2%;
    width: 30%;
}

.otherExtendBoxItem div {
    display: inline;
}
.otherExtendBoxItem div input,select{
    border: 1px solid #4091F7;
    border-radius: 4px;
    width: 50%;
    text-indent: 10px;
}



#component_logisticsInfo_loginBTN {
    position: fixed;
    width: 274px;
    height: 56px;
    line-height: 56px;
    background: #0F4C81;
    border-radius: 8px;
    text-align: center;
    color:#fff;
    right: 3.5%;
    bottom: 2%;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    #component_logisticsInfo_loginBTN {
        width: 180px;
        height: 28px;
        line-height: 28px;
        right: 5%;
    }
}

#component_logisticsInfo_board .LogisticsInfo_item.logoutRemark li {
    width: 100%;
}

#component_logisticsInfo_board .LogisticsInfo_item.logoutRemark li textarea {
    width: 95%;
    resize: none
}