#topBar{
    position: absolute;
    width: 100vw;
    height: 70px;
    background-color: #0F4C81; 
    font-size: 16px;
    top: 0;
    left: 0;
    z-index: 0;
}

#navgation .logo {
    float: left;
    margin-left: 5vw;
    width: 6.76vw;
    margin-top: 22px;
}

#navgation {
    height: 100%;
    position: relative;
}

#loginOut {
    float: right;
    margin-right: 78px;
    color: #fff;
    cursor: pointer;
}

.exit {
    right: 0;
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%)
}

.exit img {
    height: 100%;
    margin-top: -4px;
} 

.exit span {
    display: inline-block;
    vertical-align: middle;
}